.top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	background-color: #ffffff;
	width: 100%;
	height: 101px;

	padding-left: 50px;
	padding-right: 50px;
	filter: drop-shadow(0px 0px 10px #f0f0f0);
	border-bottom: 1px solid #f0f0f0;
}

.active-cell {
	display: inline; /* the default for span */
	color: $yellow;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	p,
	a {
		display: inline;
		color: $yellow;
		font-size: 1.2rem;
	}
}

.inactive-cell {
	display: inline;

	color: $text-dark;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;

	p,
	a {
		display: inline;
		color: $text-dark;
		font-size: 1.2rem;
	}
}

.cart {
	height: 100px;
	width: 217px;

	p {
		color: $text-dark;
		// margin: 0px !important;
	}
}

.logo {
	background-image: url(../../img/logo.png);
	height: 100px;
	width: 217px;
}

@media only screen and (max-width: 1405px) {
	.logo {
		background-image: url(../../img/logo_small.png);
		width: 104px;
		height: 100px;
	}
}