.product-page {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 500px;
}

.ppage-left-side {
	width: 60%;
	h1 {
		color: #000000;
		font-size: 20px;
	}

	h2 {
		color: $text-dark;
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 100;
	}

	h3 {
		color: #000000;
		font-size: 20px;
		margin-bottom: 5px;
	}

	p{
		font-size: 15px;
		color: $text-dark;
	}
}

.ppage-right-side {
	width: 40%;

	
}

.bigImg-container {
	margin: auto;
	display: flex;
	width: 100%;
	// height: 150px;
	margin-bottom: 1rem;
	img {
		margin: auto;
		max-width: 90%;
		max-height: 100%;
	}
}
